@media screen and (max-width: 767px) {
    .form-row {
        flex-direction: column;
        gap: 0;
    }

    .calculation-form {
        padding: 51px 30px 19px;
        .btn-lg {
            width: 100%;
            .icon {
                margin: 0 -14px 0 auto;
              
            }
        }
    }

    .control-box:first-child {
        margin-top: 9px;
    }
}
