header {
    .container {
        display: flex;
        padding-top: 25px;
        padding-bottom: 39px;
    }

    .btn {
        padding: 13px 26px;
    }
}

.logo {
    
    img {
        max-height: 50px;
    }
}

.hamburger-box {
    width: 28px;
}

.hamburger {
    margin: 0 0 0 auto;
    transition: all .3s;
    padding: 7px 0px;
    display: none;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after,
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    height: 2px;
    width: 27px;
    background-color: #fff;
}

.hamburger-inner::before {
    top: -11px;
}

.hamburger-inner::after {
    bottom: -11px;
}

.hamburger--arrowalt.is-active .hamburger-inner::before {
    top: 4px;
}

.hamburger--arrowalt.is-active .hamburger-inner::after {
    bottom: 4px;
}


.mobile-container {
    display: flex;
    width: 100%;
    z-index: 2;
    nav {
        display: flex;
        align-items: center;
        gap: 45px;
        margin: 5px auto 0;

        a {
            font-weight: 400;
            color: #fff;
            text-decoration: none;

            &:hover {
                color: $color-primary;
            }
        }
    }

    &.show {
        display: flex;
    }
}
