.accent {
    .slider-template {
        &::after,
        &::before {
            background-color: $bg-secondary;
        }
    }
}

.card {
    --space: 20px;
    width: 360px;
    background: $bg-secondary;
    padding: 0 var(--space) 30px;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    border: none;
    min-height: 482px;

    .img-box {
        margin: 0 calc(var(--space) * -1) 27px;

        img {
            height: 229px;
            object-fit: cover;
            object-position: center;
        }
    }

    .card-title {
        margin-bottom: 7px;
        font-size: 22px;
    }

    .options-list {
        display: flex;
        justify-content: center;
        gap: 27px;
        margin-bottom: 12px;
        padding: 0;

    }

    .option {
        img {
            margin-right: 10px;
            max-width: 24px;
            max-height: 24px;
        }
    }

    .price {
        margin-bottom: 7px;

        span {
            font-size: 22px;
            line-height: 125%;
            color: #a3a3a3;

            &:last-child {
                color: #fff;
            }
        }

        b {
            font-weight: 700;
            font-size: 45px;
        }
    }

    .btn-row {
        display: flex;
        gap: 14px;
        margin-top: auto;
        .btn {
            width: 50%;
            justify-content: center;
            padding: 13px;
        }
    }
}


.swiper-button-prev {
    left: var(--swiper-navigation-sides-offset, -25px);
}

.swiper-button-next {
    right: var(--swiper-navigation-sides-offset, -20px);
}


.swiper-pagination {
    position: static;
    margin-top: 30px;
}


.services {
    .card {
        text-align: left;
        justify-content: flex-end;
        background: top center / contain no-repeat;
        .btn-row {
            margin-top: initial;
        }
        > * {
            z-index: 1;
        }
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%);
        }
    }
}