<section class="advantages accent">
    <div class="container">
        <div class="template-title">
            <h2>Почему стоит выбрать именно нас?</h2>
        </div>
        <div id="advantages" class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantages-img">
                            <img src="assets/img/advantage-1.svg" alt="">
                        </div>
                        <h5 class="advantages-title">Таможенное <br> оформление груза </h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantages-img">
                            <img src="assets/img/advantage-1.svg" alt="">
                        </div>
                        <h5 class="advantages-title">Страховка груза</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantages-img">
                            <img src="assets/img/advantage-3.svg" alt="">
                        </div>
                        <h5 class="advantages-title"> е груза к международной перевозке</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantages-img">
                            <img src="assets/img/advantage-4.svg" alt="">
                        </div>
                        <h5 class="advantages-title">Таможенное оформление груза </h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantages-img">
                            <img src="assets/img/advantage-6.svg" alt="">
                        </div>
                        <h5 class="advantages-title">Ответственное хранение груза</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantages-img">
                            <img src="assets/img/advantage-5.svg" alt="">
                        </div>
                        <h5 class="advantages-title">Ответственное <br> хранение груза</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantages-img">
                            <img src="assets/img/advantage-5.svg" alt="">
                        </div>
                        <h5 class="advantages-title">Таможенное оформление груза </h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantages-img">
                            <img src="assets/img/advantage-8.svg" alt="">
                        </div>
                        <h5 class="advantages-title">Упаковка, переупаковка, паллетирование груза к международной перевозке</h5>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>  
