<section class="delivery">
    <div class="container">
        <div class="template-title">
            <h2>Варианты доставки грузов из Китая</h2>
        </div>
        <div class="slider-template swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card">
                    <div class="img-box">
                        <img src="assets/img/delivery-1.png" class="img-fluid" alt="auto-default">
                    </div>
                    <h3 class="card-title">Авто - обычная</h3>
                    <div class="card-options">
                        <ul class="options-list">
                            <li class="option"><img src="assets/img/icon-calendar.svg" class="img-fluid" alt="calendar">9-15 дней</li>
                            <li class="option"><img src="assets/img/icon-box.svg" class="img-fluid" alt="box"> от 5 кг</li>
                        </ul>
                        <div class="price">
                            <span>от</span>
                            <b>2,5</b>
                            <span>$/кг</span>
                        </div>
                    </div>
                    <div class="btn-row">
                        <a href="#" class="btn btn-primary">Оставить заявку</a>
                        <a href="#" class="btn btn-secondary">Подробнее</a>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                    <div class="img-box">
                        <img src="assets/img/delivery-2.png" class="img-fluid" alt="auto-accelerated">
                    </div>
                    <h3 class="card-title">Авто - ускоренная</h3>
                    <div class="card-options">
                        <ul class="options-list">
                            <li class="option"><img src="assets/img/icon-calendar.svg" class="img-fluid" alt="calendar">7-10 дней</li>
                            <li class="option"><img src="assets/img/icon-box.svg" class="img-fluid" alt="box"> от 5 кг</li>
                        </ul>
                        <div class="price">
                            <span>от</span>
                            <b>3,5</b>
                            <span>$/кг</span>
                        </div>
                    </div>
                    <div class="btn-row">
                        <a href="#" class="btn btn-primary">Оставить заявку</a>
                        <a href="#" class="btn btn-secondary">Подробнее</a>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                    <div class="img-box">
                        <img src="assets/img/delivery-3.png" class="img-fluid" alt="avia">
                    </div>
                    <h3 class="card-title">Авиа</h3>
                    <div class="card-options">
                        <ul class="options-list">
                            <li class="option"><img src="assets/img/icon-calendar.svg" class="img-fluid" alt="calendar">4-7 дней</li>
                            <li class="option"><img src="assets/img/icon-box.svg" class="img-fluid" alt="box">от 10 кг</li>
                        </ul>
                        <div class="price">
                            <span>от</span>
                            <b>7,5</b>
                            <span>$/кг</span>
                        </div>
                    </div>
                    <div class="btn-row">
                        <a href="#" class="btn btn-primary">Оставить заявку</a>
                        <a href="#" class="btn btn-secondary">Подробнее</a>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                    <div class="img-box">
                        <img src="assets/img/delivery-4.png" class="img-fluid" alt="train">
                    </div>
                    <h3 class="card-title">Ж/Д</h3>
                    <div class="card-options">
                        <ul class="options-list">
                            <li class="option"><img src="assets/img/icon-calendar.svg" class="img-fluid" alt="calendar">12-18 дней</li>
                            <li class="option"><img src="assets/img/icon-box.svg" class="img-fluid" alt="box">от 12 кг</li>
                        </ul>
                        <div class="price">
                            <span>от</span>
                            <b>3</b>
                            <span>$/кг</span>
                        </div>
                    </div>
                    <div class="btn-row">
                        <a href="#" class="btn btn-primary">Оставить заявку</a>
                        <a href="#" class="btn btn-secondary">Подробнее</a>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                    <div class="img-box">
                        <img src="assets/img/delivery-5.png" class="img-fluid" alt="Sea">
                    </div>
                    <h3 class="card-title">Море</h3>
                    <div class="card-options">
                        <ul class="options-list">
                            <li class="option"><img src="assets/img/icon-calendar.svg" class="img-fluid" alt="calendar">14-31 дней</li>
                            <li class="option"><img src="assets/img/icon-box.svg" class="img-fluid" alt="box">от 5 кг</li>
                        </ul>
                        <div class="price">
                            <span>от</span>
                            <b>1,5</b>
                            <span>$/кг</span>
                        </div>
                    </div>
                    <div class="btn-row">
                        <a href="#" class="btn btn-primary">Оставить заявку</a>
                        <a href="#" class="btn btn-secondary">Подробнее</a>
                    </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>



<section class="services accent">
    <div class="container">
        <div class="template-title">
            <h2>Услуги</h2>
        </div>
        <div class="slider-template swiper case-2">
            <div class="swiper-wrapper">
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 2</div>
              <div class="swiper-slide">Slide 3</div>
              <div class="swiper-slide">Slide 4</div>
              <div class="swiper-slide">Slide 5</div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>