<section class="services accent">
    <div class="container">
        <div class="template-title">
            <h2>Услуги</h2>
        </div>
        <div class="slider-template swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card" style="background-image: url(assets/img/services-1.png);">
                        <h3 class="card-title">Авто - обычная</h3>
                        <p class="card-description">
                            Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. 
                        </p>
                        <div class="btn-row">
                            <a href="#" class="btn btn-secondary">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card" style="background-image: url(assets/img/services-2.png);">
                        <h3 class="card-title">Авто - ускоренная</h3>
                        <p class="card-description">
                            Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. 
                        </p>
                        <div class="btn-row">
                            <a href="#" class="btn btn-secondary">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card" style="background-image: url(assets/img/services-3.png);">
                        <h3 class="card-title">Авиа</h3>
                        <p class="card-description">
                            Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. 
                        </p>
                        <div class="btn-row">
                            <a href="#" class="btn btn-secondary">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card" style="background-image: url(assets/img/services-4.png);">
                        <h3 class="card-title">Ж/Д</h3>
                        <p class="card-description">
                            Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. 
                        </p>
                        <div class="btn-row">
                            <a href="#" class="btn btn-secondary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>
